In [0]:
import pandas as pd
from google.colab import files

In [0]:
files.upload()

In [0]:
!ls

sample_data		 vehicle_events_pnas_dt.csv  vehicle_paths_pnas.zip
vehicle_events_pnas.csv  vehicle_paths_pnas.csv

In [0]:
!unzip vehicle_paths_pnas.zip

Archive:  vehicle_paths_pnas.zip
  inflating: vehicle_paths_pnas.csv

In [0]:
ll -h

total 184M
-rw-r--r-- 1 root  11M Jul 29 16:13 requests.csv
-rw-r--r-- 1 root  17M Jul 29 16:47 requests_dt_format.csv
drwxr-xr-x 1 root 4.0K Jul 19 16:14 sample_data/
-rw-r--r-- 1 root  21M Jul 29 16:54 vehicle_events_pnas.csv
-rw-r--r-- 1 root  21M Jul 29 16:54 vehicle_events_pnas_dt.csv
-rw-r--r-- 1 root  95M Jul 25 14:25 vehicle_paths_pnas.csv
-rw-r--r-- 1 root  22M Jul 29 17:21 vehicle_paths_pnas.zip

In [0]:
df = pd.read_csv('vehicle_paths_pnas.csv')

In [0]:
df.head()

    Timestamp  Vehicle_ID  Latitude  Longitude  Num_Passengers
0  1380949230         137  40.73467  -73.99459               0
1  1380949230         321  40.78573  -73.97644               0
2  1380949230         428  40.78154  -73.96041               0
3  1380949231         148  40.73478  -73.99871               0
4  1380949231         148  40.73478  -73.99871               0

In [0]:
from datetime import datetime

In [0]:
df['Timestamp_dt'] = df['Timestamp'].apply(lambda x : datetime.fromtimestamp(x).strftime("%Y-%m-%d %H:%M:%S"))

In [0]:
df.drop(['Timestamp'],axis=1,inplace=True)

In [0]:
df.head()

   Vehicle_ID  Latitude  Longitude  Num_Passengers         Timestamp_dt
0         137  40.73467  -73.99459               0  2013-10-05 05:00:30
1         321  40.78573  -73.97644               0  2013-10-05 05:00:30
2         428  40.78154  -73.96041               0  2013-10-05 05:00:30
3         148  40.73478  -73.99871               0  2013-10-05 05:00:31
4         148  40.73478  -73.99871               0  2013-10-05 05:00:31

In [0]:
df.to_csv('mod_ts_vehicle_paths_pnas.csv')

In [0]:
df.shape

(2639776, 5)

In [0]:
df_ge4 = df[df['Num_Passengers'] > 4]

In [0]:
df_ge4_c = df_ge4[['Num_Passengers', 'Timestamp_dt']]

In [0]:
df_ge4_c.to_csv('vehicle_events_pnas_ge4.csv')

AttributeError: ignored

In [0]:
ll -h

total 502M
drwxr-xr-x 1 root 4.0K Jul 19 16:14 sample_data/
-rw-r--r-- 1 root 9.6M Jul 29 22:20 vehicle_events_pnas.csv
-rw-r--r-- 1 root 143M Jul 29 22:13 vehicle_events_pnas_dt.csv
-rw-r--r-- 1 root 102M Jul 29 23:00 vehicle_events_pnas_ge4.csv
-rw-r--r-- 1 root 102M Jul 29 23:00 vehicle_events_pnas_ge4.json
-rw-r--r-- 1 root  31M Jul 29 22:22 vehicle_events_ts.zip
-rw-r--r-- 1 root  95M Jul 25 14:25 vehicle_paths_pnas.csv
-rw-r--r-- 1 root  22M Jul 29 22:06 vehicle_paths_pnas.zip

In [0]:
!zip vehicle_events_ts.zip vehicle_events_pnas_dt.csv

  adding: vehicle_events_pnas_dt.csv (deflated 79%)

In [0]:
files.download('vehicle_events_ts.zip')